# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [ ]:

!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 17.6 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 16.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:

from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://DANsky21_21:DANsky21_21@cluster0.jr3ue.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [ ]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672f3f10865175b6541751b6'), 'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('672f3f10865175b6541751b7'), 'course': 'CS 104', 'enrollments': 35, 'department': 'Computer Science'}
{'_id': ObjectId('672f3f10865175b6541751b8'), 'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science'}
{'_id': ObjectId('6769b19d6d730de92603a6c1'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6769b19d6d730de92603a6c2'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672f3f10865175b6541751b6'), 'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('672f3f10865175b6541751b7'), 'course': 'CS 104', 'enrollments': 35, 'department': 'Computer Science'}
{'_id': ObjectId('672f3f10865175b6541751b8'), 'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science'}
{'_id': ObjectId('6769b19d6d730de92603a6c1'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6769b19d6d730de92603a6c2'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [ ]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Computer Science', 'average_enrollment': 31.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Computer Science', 'max_enrollment': 40}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [ ]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672f3ee2865175b6541751b4'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672f3ee2865175b6541751b5'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('672f3f10865175b6541751b6'), 'enrollments': 30, 'course_name': 'CS 103', 'department_name': 'Computer Science'}
{'_id': ObjectId('672f3f10865175b6541751b7'), 'enrollments': 35, 'course_name': 'CS 104', 'department_name': 'Computer Science'}
{'_id': ObjectId('672f3f10865175b6541751b8'), 'enrollments': 40, 'course_name': 'CS 105', 'department_name': 'Computer Science'}
{'_id': ObjectId('6769b19d6d730de92603a6c1'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6769b19d6d730de92603a6c2'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6769b19d6d730de92603a6c3'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6769b19d6d730de92603a6c4'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672f3ee2865175b6541751b4'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672f3ee2865175b6541751b5'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672f3f10865175b6541751b6'), 'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672f3f10865175b6541751b7'), 'course': 'CS 104', 'enrollments': 35, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672f3f10865175b6541751b8'), 'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6769b19d6d730de92603a6c1'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6769b19d6d730de92603a6c2'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6769b19d6d730de92603a6c3'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6769b19d6d730de92603a6c4'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

**Pekerjaan rumah 1 : Lakukan agregasi untuk mendapatkan jumlah mata kuliah per departemen.**

In [ ]:
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 2}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'course_count': 10}
{'_id': 'History', 'course_count': 4}
{'_id': 'Mathematics', 'course_count': 4}
{'_id': 'Physics', 'course_count': 4}

In [ ]:

#Menambahkan data ke department Computer Science
courses = [
    {'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science'},
    {'course': 'CS 104', 'enrollments': 33, 'department': 'Computer Science'},
    {'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science'}
]

result = courses_collection.insert_many(courses)
print('Courses inserted successfully')

Courses inserted successfully

**Pekerjaan rumah 2 : Gunakan $matchdan $groupbersama-sama untuk menyaring dan mendapatkan hanya kursus dengan pendaftaran lebih dari 25 di 'Ilmu Komputer'.**

In [ ]:
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$course', 'total_enrollments': {'$sum': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'CS 104', 'total_enrollments': 68}
{'_id': 'CS 105', 'total_enrollments': 80}
{'_id': 'CS 103', 'total_enrollments': 60}

**Pekerjaan rumah 3 : Ajukan permohonan $lookupuntuk bergabung dengan coursespengumpulan dengan studentspengumpulan berdasarkan pendaftaran siswa.**

In [ ]:
pipeline = [
    {'$lookup': {'from': 'students', 'localField': 'course', 'foreignField': 'enrolled_courses', 'as': 'enrolled_students'}},
    { '$project': {'course': 1, 'department': 1, 'enrollments': 1, 'enrolled_students': {'$map': {'input': '$enrolled_students', 'as': 'student', 'in': '$$student.name'}}}}
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrolled_students': ['Jane Doe', 'Anbi', 'Eren', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'Jane Doe', 'Anbi', 'Eren', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'Santo', 'Anbi', 'Eren', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'iking', 'Adam', 'wahjo', 'mol', 'Jin ping', 'akbar']}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrolled_students': ['Jane Doe', 'Loki', 'Ipin', 'Salazar', 'Lucy', 'Jane Doe', 'Loki', 'Ipin', 'Salazar', 'Lucy', 'Santo', 'Loki', 'Ipin', 'Salazar', 'Lucy', 'iking', 'yahya', 'supri', 'hanzo', 'khaled']}
{'_id': ObjectId('672f3ee2865175b6541751b4'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrolled_students': ['Loki', 'Ipin', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'Loki', 'Ipin', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'Loki', 'Ipin', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'yahya', 'supri', 'mol', 'Jin ping', 'akbar']}
{'_id': ObjectId('672f3ee2865175b6541751b5'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrolled_students': ['Anbi', 'Eren', 'Salazar', 'Lucy', 'Anbi', 'Eren', 'Salazar', 'Lucy', 'Anbi', 'Eren', 'Salazar', 'Lucy', 'Adam', 'wahjo', 'hanzo', 'khaled']}
{'_id': ObjectId('672f3f10865175b6541751b6'), 'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science', 'enrolled_students': ['Eren', 'Jin Kaxzama', 'Eren', 'Jin Kaxzama', 'Eren', 'Jin Kaxzama', 'wahjo', 'Jin ping']}
{'_id': ObjectId('672f3f10865175b6541751b7'), 'course': 'CS 104', 'enrollments': 35, 'department': 'Computer Science', 'enrolled_students': ['Anbi', 'Loki', 'David Mason', 'Anbi', 'Loki', 'David Mason', 'Anbi', 'Loki', 'David Mason', 'Adam', 'yahya', 'mol']}
{'_id': ObjectId('672f3f10865175b6541751b8'), 'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science', 'enrolled_students': ['Jane Doe', 'Ipin', 'Lucy', 'Jane Doe', 'Ipin', 'Lucy', 'Santo', 'Ipin', 'Lucy', 'iking', 'supri', 'khaled']}
{'_id': ObjectId('6769b19d6d730de92603a6c1'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrolled_students': ['Jane Doe', 'Anbi', 'Eren', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'Jane Doe', 'Anbi', 'Eren', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'Santo', 'Anbi', 'Eren', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'iking', 'Adam', 'wahjo', 'mol', 'Jin ping', 'akbar']}
{'_id': ObjectId('6769b19d6d730de92603a6c2'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrolled_students': ['Jane Doe', 'Loki', 'Ipin', 'Salazar', 'Lucy', 'Jane Doe', 'Loki', 'Ipin', 'Salazar', 'Lucy', 'Santo', 'Loki', 'Ipin', 'Salazar', 'Lucy', 'iking', 'yahya', 'supri', 'hanzo', 'khaled']}
{'_id': ObjectId('6769b19d6d730de92603a6c3'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrolled_students': ['Loki', 'Ipin', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'Loki', 'Ipin', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'Loki', 'Ipin', 'David Mason', 'Jin Kaxzama', 'Nakamura', 'yahya', 'supri', 'mol', 'Jin ping', 'akbar']}
{'_id': ObjectId('6769b19d6d730de92603a6c4'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrolled_students': ['Anbi', 'Eren', 'Salazar', 'Lucy', 'Anbi', 'Eren', 'Salazar', 'Lucy', 'Anbi', 'Eren', 'Salazar', 'Lucy', 'Adam', 'wahjo', 'hanzo', 'khaled']}
{'_id': ObjectId('6769b5dd6d730de92603a6c5'), 'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science', 'enrolled_students': ['Eren', 'Jin Kaxzama', 'Eren', 'Jin Kaxzama', 'Eren', 'Jin Kaxzama', 'wahjo', 'Jin ping']}
{'_id': ObjectId('6769b5dd6d730de92603a6c6'), 'course': 'CS 104', 'enrollments': 33, 'department': 'Computer Science', 'enrolled_students': ['Anbi', 'Loki', 'David Mason', 'Anbi', 'Loki', 'David Mason', 'Anbi', 'Loki', 'David Mason', 'Adam', 'yahya', 'mol']}
{'_id': ObjectId('6769b5dd6d730de92603a6c7'), 'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science', 'enrolled_students': ['Jane Doe', 'Ipin', 'Lucy', 'Jane Doe', 'Ipin', 'Lucy', 'Santo', 'Ipin', 'Lucy', 'iking', 'supri', 'khaled']}